.scoreCard {
    margin: auto;
    padding: 2rem 2rem 4rem;
    background: rgba(130, 14, 255, 0.1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 0.105rem solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: min(90%, 28rem);
    color: white;
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.2),
        1px -1px 0 rgba(0, 0, 0, 0.2),
        -1px 1px 0 rgba(0, 0, 0, 0.2),
        1px 1px 0 rgba(0, 0, 0, 0.2);
}

.scorePoint {
    width: 100%;
    padding: 0.5rem 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 4rem;
}

.scorePoint p {
    /* text-shadow: none; */
    font-size: 1.5rem;
}

.header {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.stars {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    height: 50px;
    top: -20px;
    gap: 1rem;
}

.stars svg {
    font-size: 3rem;
    color: rgb(255, 174, 0);
    filter: drop-shadow(10px 10px 10px rgb(0, 0, 0), -2px -2px 1px black);
}

.stars svg:nth-child(2) {
    align-self: baseline;
    transform: scale(1.7);
}

.btns {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: -30px;
    width: 90%;
}

.retry {
    flex: 1;
    height: 90%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.125em;
    font-weight: 800;
    letter-spacing: 2px;
    color: #fff;
    background: #644dff;
    border: 2px solid #4836bb;
    border-radius: .75rem;
    box-shadow: 0 8px 0 #4836bb;
    transition: all .1s ease;
    filter: drop-shadow(0 15px 20px #654dff63);
}

.retry:active {
    letter-spacing: 0px;
    transform: translateY(8px);
    box-shadow: 0 0 0 #654dff63;
}


/* second style */
.Tcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* background-color: red; */
}

.Tcontainer img {
    width: 40%;
    max-width: 20rem;
    height: 100%;
    max-height: 20rem;
    object-fit: contain;
    position: relative;
}

.img1 {
    animation: leftcenter 2s ease;
}

.img2 {
    animation: topcenter 2s ease;
}
.textT{
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    animation: topcenter 2s ease;
}

@keyframes leftcenter {
    from {
        opacity: 0;
        left: -200%;
    }

    to {
        left: 0%;
        opacity: 1;
    }
}

@keyframes topcenter {
    from {
        opacity: 0;
        top: -200%;
    }

    to {
        top: 0%;
        opacity: 1;
    }
}